<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ApiId" value="336e87d7"/>
    <add key="ApiKey" value="0df8406b78e7fd456c2d2a4ddc899ac9"/>
    <add key="BaseUrl" value="https://api.tfl.gov.uk"/>
    <add key="ApiName" value="Road"/>
  </appSettings>
</configuration>